<div id="cookie-banner" class="fixed bottom-0 left-0 z-30 bg-gray-800 w-full text-white">
    <div class="container m-auto px-6 py-4">
        <div class="flex items-center justify-between">
            <p class="mr-4 text-[12px]">
                Wir nutzen Cookies um Ihnen das optimale Erlebnis zu bieten. Sollten Sie weiterhin die Webseite nutzen,
                stimmen Sie unserer
                <a class="font-bold underline" href="/general/privacy">Datenschutz</a> zu.
            </p>
            <div class="text-right">
                <button id="cookie-accept-button" class="bg-[#191b25] text-sm rounded-md py-2 px-4">
                    Annehmen
                </button>
            </div>
        </div>
    </div>
    <div class="border-t-[1px] border-gray-700"></div>
    <div class="container m-auto py-2">
        <div class="flex justify-center items-center text-[11px] text-gray-400">
            <a class="pr-3" href="/general/agb">AGB</a>
            <a class="pr-3" href="/general/impressum">Impressum</a>
            <a href="/general/privacy">Datenschutz</a>
        </div>
    </div>
</div>
