<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-Type">
    <title></title>
</head>
<body style="font-family: Arial;padding: 0;margin: 0;box-sizing: border-box;">
<div id="content" class="content" style="max-width: 800px;margin: auto;background: #f1f3f4;padding-bottom: 20px;">
    <div class="mailheader" style="background: #11111f;padding: 15px 30px 70px;">
        <a href="#"><img class="brand-logo" style="height: 50px;"
                         src="http://myhomeworkstation.synology.me:8888/assets/images/core/logo.svg"></a>
    </div>
    <div class="mail-wrapper" style="margin-top:-50px;padding:0 10px;">
        <div class="mailcontent"
             style="background: #fff;max-width: 600px;margin: auto;text-align: center;padding: 40px 20px;-webkit-box-shadow: 0px 2px 8px -5px black;-webkit-border-radius: 10px;">
            <div class="mail-headline" style="padding: 30px 0 0;border-bottom: 1px solid lightgray;">
                <img class="mail-image" style="height: 100px;"
                     src="http://myhomeworkstation.synology.me:8888/assets/images/mail/welcome.svg">
                <h3 style="padding: 20px 0;">Verifizieren Sie Ihre Email-Adresse</h3>
            </div>
            <div class="mail-subject" style="padding: 20px 0 0;text-align: center;">
                <div><span>Password zurücksetzen</span></div>
                <div><span>Klicken Sie auf den Link um Ihr Password zu ändern.</span></div>
            </div>
        </div>
        <div class="mail-btn" style="margin: 30px 0;text-align: center;">
            <a href="{{link}}" class="verify-link"
               style="text-decoration: none;font-size:14.0px;line-height: normal;font-weight: bold;background-color: #11111f;padding: 10px 17px;">
                <span style="text-decoration: none;color: rgb(255,255,255);font-size: 14.0px;line-height: normal;background: #11111f;color: #fff;border-color: #11111f;padding: 10px 20px;cursor: pointer;border-radius: 5px;">Password zurücksetzten
                </span>
            </a>
        </div>
        <span style="font-size: 12px; color: #808080;">Wenn Sie Ihr Passwort nicht ändern möchten. Bitte ignorieren Sie diese Nachricht.</span>
    </div>
</div>
</body>
</html>